body {
  background:#F5F5F5;
  color:#444;
  text-shadow:0 1px 0 #FFF;
  font-family: 'Lucida Grande', Tahoma, Arial, Verdana;
  font-size:13px;
}

* {
  word-wrap: break-word;
}

.clear {
  clear:both;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

/***** header *****/
  #header {
    padding:30px;
    background:#F9f9F9;
    margin:10px 0 30px 0;
    
    box-shadow:0 0 5px #CCC;
    
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  #header h1 {
    color:#222;
    font-weight:bold;
    font-size:32px;
  }

/***** /header *****/

/***** timeline *****/
  #timeline {
    border-bottom:3px #E5E5E5 solid;
  }
  #timeline-box {
    height:250px;
    margin:0 0 30px;
  }
/***** /timeline *****/

/***** stats *****/
  #stats {
    background:#E9E9E9;
    border-bottom:2px #DDD dotted;
    padding:30px 0 30px 0;
  }
  
  #stats #stats-box {
    background:#F5F5F5;
    border:2px #FCFCFC solid;
    padding:5px;
    
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  
  #stats .item {
    color:#222;
    background:#E7E7E7;
    border:1px #DDD solid;
    padding:15px 20px;
    float:left;
    text-align:center;
    margin:0 5px 0 0;
    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  
  #stats .sep {
    float:left;
    border-right:1px #EEE solid;
    border-left:1px #FCFCFC solid;
    margin:-5px 15px -5px 10px;
    height:77px;
  }
  
  #stats .item .item-box {
    float:left;
  }
  
  #stats .item .item-box{
    margin:0 15px 0 0;
    padding:0 15px 0 0;
    border-right:1px #CCC dotted;
  }
  
  #stats .item .item-box.last {
    margin-right:0;
    padding-right:0;
    border-right:none;
  }
  
  #stats .item .num {
    font-weight:bold;
    font-size:22px;
  }
  
  #stats .item .num small {
    font-size:10px;
    color:#666;
  }
  
  #stats .item h3 {
    color:#888;
    font-size:10px;
    text-transform:lowercase;
    margin:5px 0 0;
  }
/***** /stats *****/

/***** top items *****/ 
  #top-items {
    background:#E9E9E9;
    padding:30px 0;
  }
  
  .top-items {
    margin:0 0 30px;
    padding:0 0 30px;
    border-bottom:1px #DDD solid;
  }
  
  .top-items h2 {
    font-size:18px;
    font-weight:bold;
    color:#666;
    margin:0 0 15px;
    text-transform:lowercase;
  }
  
  .top-items .item {
    background:#E1E1e1;
    padding:3px;
    border:2px #F9f9f9 solid;
    width:221px;
    float:left;
    margin:0 20px 0 0;
    
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
  }
  
  .top-items .item-last {
    margin-right:0;
  }
  
  .top-items .item h3 {
    background:#F1F1F1;
    padding:10px;
    color:#444;
    position:relative;
    
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
  }
  
  .top-items .item h3 .value {
    background:#F9f9F9;
    color:#666;
    font-weight:bold;
    padding:5px 8px;
    font-size:13px;
    position:absolute;
    top:50%;
    right:9px;
    z-index:1;
    margin:-13px 0 0 0;
    border-bottom:2px #D1D1D1 solid;
    
    text-shadow:0 1px 0 #FFF;
    
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
  }
  
  .top-items .item li {
    padding:15px 45px 15px 30px;
    color:#111;
    font-weight:bold;
    background:#F6f6f6;
    font-size:11px;
    position:relative;
    margin:0 0 1px;
  }
  
  .top-items .item li.last {
    margin-bottom:0;
      
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
  }
  
  .top-items .item li .pos {
    color:#999;
    font-size:14px;
    position:absolute;
    top:50%;
    left:11px;
    margin:-7px 0 0 0;
  }
  
  .top-items .item li .value {
    background:#FFF;
    color:#333;
    font-weight:bold;
    padding:5px 8px;
    font-size:13px;
    position:absolute;
    top:50%;
    right:9px;
    z-index:1;
    margin:-13px 0 0 0;
    border-bottom:1px #DDD solid;
    
    text-shadow:0 1px 0 #F9f9f9;
    
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
  }
/***** /top items *****/
